.article {
  padding: 0 24px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 405px;
  height: 100%;
  //min-width: 100px;
  //height: 100vh;

  &:not(:first-child) {
    border-left: 1px solid $color-gray;
  }

  &__heading {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-self: center;
    flex: 1 1 478px;
    min-width: 478px;

    &-year {
      font-family: $secondaryFontName;
      font-size: 11px;
      line-height: 20px;
      font-weight: 400;
      color: $secondaryColor;
    }

    &-title {
      font-family: $primaryFontName;
      font-size: 32px;
      line-height: 40px;
      font-weight: 400;
      color: $primaryColor;
      white-space: pre-wrap;
    }
  }

  &__date {
    position: absolute;
    top: 0;
    left: 0;
    font-family: $secondaryFontName;
    font-size: 11px;
    line-height: 20px;
    font-weight: 400;
    color: $primaryColor;
    text-transform: uppercase;
  }

  &__item {
    //padding-top: 130px;
    display: flex;
    flex-direction: column;
  }

  &__category {
    font-family: $secondaryFontName;
    font-size: 11px;
    line-height: 20px;
    font-weight: 400;
    color: $secondaryColor;
    text-transform: uppercase;
  }

  &__title {
    margin-top: 8px;
    font-family: $primaryFontName;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: $primaryColor;
  }

  &__image {
    margin-top: 24px;
  }

  &__description {
    padding-top: 24px;
    font-family: $primaryFontName;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: $primaryColor;
  }
}
