.page {
  background: $color-black;
  overscroll-behavior: none;

  &__inner {
    //padding: 20px;
    //margin: 0 auto;
    //max-width: 1600px;
    height: 100%;
    //overflow: hidden;
  }

  &__wrapper {
    //position: relative;
    //max-width: 1600px;
    //overflow: auto;
  }

  &__content {
    //margin: 0 auto;
    //position: relative;
    //padding: 20px 0;
    display: flex;
    height: 100vh;
    //z-index: 1;
  }
}
