<nav class='nav'>
  <ul class='nav__list'>
    <template x-for='(item, index) in $store.content.nav' :key='index'>
      <li class='nav__item'>
        <a
          x-ref='navLinks'
          :href='item.url'
          x-text='item.label'
          :data-section='item.label'
          @click.prevent='scrollToSection($event)'
          :class="{ 'active': isActive(item.label) }"
          class='nav__link'
        ></a>
      </li>
    </template>
  </ul>
</nav>