.nav {
  font-family: $secondaryFontName;
  font-size: 11px;
  line-height: 20px;
  font-weight: 400;

  &__list {
    display: flex;
    gap: 24px;
  }

  &__item {

  }

  &__link {
    color: $secondaryColor;

    &.active {
      color: $primaryColor;
    }
  }
}
