<nav x-data class='nav'>
  <ul class='nav__list'>
    <template x-for='(item, index) in $store.content.nav' :key='index'>
      <li><a :href='item.url' x-text='item.label'></a></li>
    </template>
  </ul>
</nav>